
    
<header *ngIf=" isAuthenticated$ | async" class="app-header">
    <div class="header-content">
        <a routerLink="/" class="logo">My App</a>
        <nav class="main-nav">
        <ul>
            <!-- Iterate over navigation items -->
            <li *ngFor="let item of navItems">
            <a [routerLink]="item.link" routerLinkActive="active-link">{{ item.name }}</a>
            </li>
        </ul>
        </nav>
        <div class="auth-actions">
        <button class="logout-button" (click)="onLogout()">Logout</button>
        </div>
    </div>
</header>
 

<router-outlet></router-outlet>
